.footer {
    background-color: #22273A;


    &__cont {
    
        display: flex;
        align-items: center;
        
        @include margin
    }
    
    &__cont--centro {
    
        text-align: center;
        list-style-type: none;
        margin-top: 15px;
        margin-left: 30px;
        width: 35%;
        transform: translateX(1110px)
    }
    
    &__parr {
    
        margin-top: 30px;
        margin-left: 70px;
        padding-top: 10px;
    }
    
    &__cont--der {
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 200px;
        margin-right: 30px;
        color: gray;
    
    }
    
    &__copy {
        margin-left: 30px;
        color: gray;
    }
    
    .footermateo__li {
        margin-bottom: 50px;
        padding-top: 10px;
        font-size: 58px;
        color: gray;
    }
}
